#bridge-container {
    position: relative;
    width: 100vw; /* Full screen width */
    height: 100vh; /* Full screen height */
    overflow: hidden; /* Prevents scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
}

#bridge {
    width: auto;
    height: 100vh; /* Always fill the full height */
    max-width: 100vw; /* Prevents overflow */
    object-fit: cover; /* Ensures full image is shown without margins */
}

#lock-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lock {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
